fastapi
uvicorn[standard]
motor
pymongo
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
pydantic
pydantic-settings
httpx
bcrypt
pyotp
qrcode[pil]
razorpay
Pillow
websockets
aiosmtplib==3.0.1
redis
email-validator
pydantic[email]
resend